/* global color variables and font family variables for our page */

:root {
  --main-orange: #f36c38;
  --main-green: #009846;
  --main-blue: #00a0e3;
  --main-pink: #e5097f;

  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Yomogi", cursive;
}

html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: var(--secondary-font);
}
