.whatsapp-fixed {
  font-family: var(--secondary-font);
  position: fixed;
  top: 80%;
  right: -50px;
  background-color: var(--main-green);
  color: #fff;
  padding: 1rem;
  transform: rotate(90deg);
}
.whatsapp-fixed img {
  transform: rotate(268deg);
}
