.youtube h2 {
  text-align: center;
  color: var(--main-green);
}

.center {
  width: 50%;
  margin: 1rem auto;
}
.video iframe {
  max-width: 100%;
}
.video.first {
  background-image: url("/images/bg4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}
.video.second {
  background-image: url("/images/bg3.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: left bottom;
}
